{% extends "base.html" %}
{% block content %}
	{% if current_user.is_authenticated %}
	<h1>Hello, {{ user.nickname }}!</h1>
	{% else %}
	<h1>Hello, guest!</h1>
	{% endif %}
	{% for post in posts %}
	<div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
	{% endfor %}
{% endblock %}