{% extends "base.html" %}

{% block content %}
	<h1>Sign In</h1>
	<form action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<p>
			email: {{ form.email(size=40) }}<br>
			{% for error in form.email.errors %}
				<span style="color: red;">[{{ error}}]</span>
			{% endfor %}<br>
			password:  {{ form.password(size=40) }}<br>
			{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.remember_me }} Remember Me</p>
		<p><input type="submit" value="Sign In"></p>
		<p>
			New?  <a href="{{ url_for('register') }}">Register</a>
		</p>
	</form>
{% endblock %}