{% extends "base.html" %}

{% block content %}
	<h1>Register</h1>
	<form action="" method="post" name="register">
		{{ form.hidden_tag() }}
		<p>
			nickname: {{ form.nickname(size=40) }}<br>
			{% for error in form.nickname.errors %}
				<span style="color: red;">[{{ error}}]</span>
			{% endfor %}<br>
			email: {{ form.email(size=40) }}<br>
			{% for error in form.email.errors %}
				<span style="color: red;">[{{ error}}]</span>
			{% endfor %}<br>
			password:  {{ form.password(size=40) }}<br>
			{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
			retype password: {{ form.password2(size=40) }}<br>
			{% for error in form.password2.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p><input type="submit" value="Sign In"></p>
	</form>
{% endblock %}